@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: url("./images/book.jpg");
    background-repeat: no-repeat;
    background-position:center ;
    background-clip: border-box;
    background-size: cover;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.089);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1{
    position: absolute;
    top: 15rem;
    right: 18rem;
    font-family: Acme;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: rgb(0, 0, 27);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.refresh{
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    position: absolute;
    top: 22rem;
    right: 26rem;
}

.refresh i{
    font-size: 1.5rem;
}

.refresh:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    transform: translateY(2px);
}

.refresh:active{
    background: #112233;
    color: #fff;
}

.container .box{
    position: absolute;
    top:5rem;
    left: 12rem;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 25px;
}

.container .box .input-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.container .box .input-box input{
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    width: 80%;
    height: 3rem;
    border-radius: 20px;
    border: none;
    box-shadow: inset 5px black;
    font-family: Merienda;
}

.container .box button{
    border: none;
    padding:0.5rem 0.7rem;
    border-radius: 50%;
    background: rgb(13, 13, 71);
    color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.container .box button i{
    font-size: 1.2rem;
}

.container .box button:hover{
    cursor: pointer;
    transform: translateY(2px);
    color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);   
}

.container .box button:active{
    background: rgb(29, 29, 116);
}

.task-container{
    text-align: center;
    width: 100%;
    padding: 1.5rem;
}

.task-list{
    max-height: 17rem;
    overflow-y: auto;
}

.task-list::-webkit-scrollbar{
    display: none;
}

.task-container h2{
    font-family: Merienda;
    color:rgb(0, 0, 27); 
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    border-bottom: 2px solid #fff;
    border-radius: 20px;
}

.task p{
    font-family: Merienda;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
}

.task:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:900px) {
    .container .box{
        width: 80%;
    }
}

@media  screen and (max-width:500px) {
    .container h1{
        left: 1rem;
        font-size: 3rem;
    }
}
